.begin{
  background: #4FBFA5;
  padding-bottom: 70px;
  &__nav{
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-link{
      color: white;
      font-size: 18px;
    }
    &-btn{
      padding: 9px 15px;
      font-size: 18px;
      border: none;
      font-weight: 400;
      background: #00868A;
      color: white;
    }
  }
  &__left{
    padding: 133px 0 134px 0;
    position: relative;
    width: 549px;
    height: 533px;
    &-title{
      font-weight: 700;
      font-size: 60px;
      line-height: 150%;
      margin-bottom: 20px;
      color: white;
    }
    &-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 40px;
    }
    &-btn{
      padding: 15px 25px;
      text-transform: uppercase;
    }
  }
  &__img{
    position: relative;
    bottom: -60px;
    max-width: 630px;
    max-height: 415px;
  }
  &__content{
    display: flex;
  }
  &__right{
    position: relative;
  }
  &__end{
    display: flex;
    &-text{
      background: #00868A;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      font-weight: 300;
    }
  }
}


@media (max-width: 1150px) {
  .header__line{
    display: none;
  }
  .begin{
    padding-bottom: 20px!important;
  }
  .overlay{
    &__text {
      margin-bottom: 20px !important;
    }
    &__btn{
      padding: 10px 10px;
      margin-top: 20px;
      width: 100%;
      color: white;
      border-radius: 30px;
      font-size: 20px;
      position: relative;
      top: -20px;
    }
    &__form{
      padding: 25px 30px 25px 25px;
    }
    &__field{
      height: 35px;
      border-radius: 15px;
    }
    *{
      font-size: 12px;
    }
    &__title{
    font-size: 20px!important;
    }
  &__popup{
    max-width: 500px;
    max-height: 80vh;

  }
  }
  .begin__nav-link{
    width: 100%;
    font-size: 14px;
  }
  .begin__nav-btn{
    background: #4FBFA5;
    padding: 8px;
    border-radius: 10px;
  }
  .begin__nav{
    display: flex;
    position: fixed;
    top: -600px;
    right: 0;
    background: #00868A;
    max-width: 250px;
    height: 450px;
    border-bottom-left-radius: 15px;
    z-index: 100;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px!important;
    &.active{
    top: 0;
    }
  }
  .header__burger-line{
    display: flex!important;
  }
}

.burger {
  position: relative;
  bottom: -20px;
}



@media only screen and (max-width: 923px) {
  .begin__left-text {
    font-size: 13px!important;
  }
  .begin__left-title{
    font-size: 40px!important;
  }
  .begin__img{
    width: 400px;
    height: 240px;
    left: -30px;
    top: 80px;
  }
  .begin__left{
    padding-top: 90px;
    height: 400px;
  }
  .begin{
    padding-bottom: 30px!important;
    &__left-btn{
      padding: 12px!important;
      font-size: 14px!important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .begin{
    height: 430px;
    &__img{
      width: 350px;
      height: 220px;
      left: 10px!important;
    }
    &__left{
      &-text{
        font-size: 12px!important;
      }
      &-btn{
        padding: 10px!important;
        font-size: 12px!important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .begin{
    &__img{
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .begin{
    height: 300px;
    &__left{
      padding-top: 50px;
      &-text{
        font-size: 8px!important;
      }
      &-title{
        font-size: 30px!important;
      }
    }
  }
}

